# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Kivy
.kivy/

# Buildozer
.bin/
build/
bin/
.spec
buildozer.spec.backup

# Android / local
*.apk
*.aab
.gradle/
local.properties

# Private config
config/github_token.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
